
.topnav {
  width: 100%;
  text-align: center;
  transition: 200ms; 
  display: block;
  color: rgb(54,49,69);
  background: #fff;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}