

.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .row {
    margin: 0 -5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
  }
  .column button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(54,49,69);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .column button:hover {
    opacity: 0.7;
  }

  ul{
    list-style-type: none;
    padding: 0;
    text-align: left;
  }

  img{
    padding: 0 5% 0 5%;
    max-width: 40%;
    height: auto;
  }
  .btnMore{
    padding:1em 1.2em;
    margin-top: 0.3em;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color: rgb(126, 87, 194);
    text-align:center;
    transition: all 0.2s;
    border: 0;
    height: 50px;
    cursor: pointer;
    border-radius: 2em;
    display: inline-block;
    
  }

  .btnContainer{
    justify-content: center;
    padding-bottom: 5%;
  }

  .plusicon{
    display: none;
  }

 

  @media screen and (max-width: 300px) {
    .btnMore{
      width: 50px; 
    }
    .buttonText {
        display: none;
    }
    .plusicon{
      display: block;
    }
    .errorAlert{
      width: 100%;
      display: block;
    }
}

.btnGoTop{
  margin-top: 30px;
  color: rgb(126, 87, 194);
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 3%; 
  background-color: rgb(255, 226, 79);
  border-radius: 2em;
  height: 30px;
  width: 30px; 
}
.btnGoTop:hover{
  color: rgb(103,52,186);
  text-decoration: underline;
}

.arrowUp:hover{
  color: rgb(103,52,186);
  text-decoration: underline;
}

.arrowUp{
  border: solid rgb(126, 87, 194);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}