

.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .row {
    /* overflow-y: scroll; */
    margin: 0 -5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    /* text-align: center; */
    background-color: #f1f1f1;
  }

  ul{
    list-style-type: none;
    padding: 0;
    text-align: left;
  }

  img{
    padding: 0 5% 0 5%;
    max-width: 40%;
    height: auto;
  }


  .btnMore{
    padding:1em 1.2em;
    margin-top: 0.3em;
    text-decoration:none;
    /* font-family:'Roboto',sans-serif; */
    font-weight:300;
    color:#FFFFFF;
    background-color: rgb(126, 87, 194);
    text-align:center;
    transition: all 0.2s;
    border: 0;
    /* width: 50px; */
    height: 50px;
    /* display: grid;
    grid-template-areas: "select";
    grid-auto-flow: column;
    align-items: center; */
    cursor: pointer;
    border-radius: 2em;
    display: inline-block;
    
  }

  .btnContainer{
    /* display: flex; */
    justify-content: center;
    padding-bottom: 5%;
  }

  .plusicon{
    display: none;
  }

  .errorAlert{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    border-radius: 1em;
    border-color: rgb(250, 114, 144) ;
    background-color: rgb(250,224,224);
    border-style: solid;
    padding: 5%;  
    margin: 0 5% 5% 5%;
    /* width: 100% */
    ;}

  @media screen and (max-width: 300px) {
    .btnMore{
      width: 50px; 
    }
    .buttonText {
        display: none;
    }
    .plusicon{
      display: block;
    }
    .errorAlert{
      width: 100%;
      display: block;
      /* margin-bottom: 20px; */
    }
}
