.container {
  width: 100%;
  text-align: center;
  transition: 200ms; 
  top: 62px;
  background: #fff;
  bottom: 63px;
  position: absolute;
  overflow-y: scroll; 
  overflow-x: hidden;

}

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  min-height: 50vh;

}

.row1{
  width: 100%;
  display: block;
  background-color: rgb(255, 226, 79);
}

.row2{
  width: 100%;
  background-color: #fff;
}
.column1 {
  float: left;
  width: 30%;
  padding-top: 5px;
  background-color: #fff;
  justify-content: center;
  align-items: center;  
}
.column2 {
float: left;
width: 70%;
padding-top: 10px; 
background-color: #fff;

}

@media screen and (max-width: 500px) {
  .column1, .column2 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .row2{
    display: table;
  }
}

