
.footer {
    width: 100%;
    text-align: center;
    transition: 200ms; 
    background: rgb(54,49,69);
    position: fixed;
    bottom: 0;
    color: #fff;
  }

  .btnAbout:hover{
      color: rgb(255, 226, 79);
      text-decoration: underline;
      cursor: pointer;
  }

  .arrowCollapse{
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(46deg);
    -webkit-transform: rotate(46deg);
    position: relative;
    float: right;
    right: 20px;
    top: 0px;
  }
  .arrowCollapse:hover{
    border: solid rgb(255, 226, 79);
    border-width: 0 2px 2px 0;

    text-decoration: underline;
    cursor: pointer;
}
.aboutContent{
  position: relative;
}

.aboutCollapse{
  float: right;
  top: 0; 
}
